body {
    align-items: center;
    text-align: center;
}
.searchcriteria {
    margin-top: 10px;
    text-align: center;
}
.searchcriteria input {
    margin-right: 50px;
    margin-left: 50px;
    width: 250px;
}
.resume{
    border-color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px grey;
    margin: 50px;
}
.resumesheader{
    background-color: rgb(192, 249, 230);
    justify-content: center;
}
.resumesheader .ApplicantName{
    font-size: 24px;
    padding-top: 20px;
}
.resumesheader .AppliedForPosition {
    margin-top: 30px;
    font-size: 12px;
    padding-bottom: 30px;
}

.container {
    position: relative;
    
}
.container img {
    background: url('default profilepic.jpeg');
    background-position: -25px -15px;
    width: 75px;
    height: 75px;
    top: 15px;
    right: 100px;
    position: absolute;
}
.PersonalInformationBox{
    background-color: rgb(242, 218, 212);
    width: 150px;
    margin-left: 15px;
    margin-top: 15px;
    height: fit-content;
}
.PersonalInformationHeader{
    background-color: rgb(195, 194, 194);
    width: 130px;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}
.TechnicalSkillsHeader{
    background-color: rgb(195, 194, 194);
    width: 130px;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}
.HobbiesHeader{
    background-color: rgb(195, 194, 194);
    width: 130px;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}